@use "../mixin";

.clip {
  padding: 15px 15px 0px;

  &__header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1px;
    color: #1e1e23;
    display: block;
    line-height: 20px;

    &__title {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 5px 0 9px;
      white-space: nowrap;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -1px;
      color: #1e1e23;

      &::before {
        content: "";
        display: block;
        width: 49px;
        height: 20px;

        @include mixin.spImg(
          "../../img/sp/sp_search.png",
          -73px -297px,
          408px 372px
        );
      }
    }
  }
  &__wrap {
    padding-bottom: 21px;
  }
  &__list {
    display: inline-flex;
    vertical-align: top;

    &__item {
      width: 132px;
      display: block;
      margin-right: 8px;
    }
  }

  &__video {
    width: 132px;
    height: 198px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;

    &__badge {
      position: absolute;
      right: 10px;
      bottom: 58px;
      font-size: 0;
      line-height: 0;
      z-index: 1;

      &::before {
        content: "";
        display: inline-block;
        width: 11px;
        height: 13px;
        vertical-align: -2px;
        margin-right: 3px;

        @include mixin.spImg(
          "../../img/sp/sp_main.png",
          -216px -204px,
          254px 220px
        );
      }

      &__time {
        font-size: 12px;
        line-height: 17px;
        color: #fff;
        font-weight: 700;
      }
    }
    &__desc {
      margin-top: 10px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 4rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem;
      letter-spacing: -0.5px;
    }

    &__channel {
      display: block;
      margin-top: 3px;

      &__info {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.5px;
        color: #929294;
      }
    }
  }

  &__thumb {
    width: 132px;
    height: 198px;
    border-radius: 8px;
  }
}
