@use "../mixin";

.event {
  display: block;
  margin: 0 27px;

  &__wrap {
    margin: 16px 0 24px;
    text-align: center;
  }

  &__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
    border-radius: 27px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    background-color: #fdfdfd;

    font-size: 0;
    line-height: 0;

    &::before {
      content: "";
      display: inline-block;
      width: 56px;
      height: 53px;
      vertical-align: top;
      margin: 0 12px 0 24px;

      @include mixin.spImg(
        "../../img/sp/sp_search.png",
        408px 372px,
        0 0
      );
    }
  }

  &__txt {
    font-size: 1.4rem;
    line-height: 53px;
    letter-spacing: -0.5px;
    color: #767678;
    vertical-align: top;

    &::after {
      content: "";
      display: inline-block;
      width: 13px;
      height: 13px;
      vertical-align: top;
      margin: 20px 24px 0 4px;

      @include mixin.spImg(
        "../../img/sp/sp_search.png",
        408px 372px,
        -147px -111px
      );
    }
  }
}
