@use "../mixin";

.naverapp {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #767678;

  &::before {
    @include mixin.spImg(
      "../../img/sp/sp_search.png",
      -214px -92px,
      408px 372px
    );

    content: "";
    width: 40px;
    height: 40px;
    display: block;
    padding-right: 10px;
    flex: 0 0 auto;
  }

  &__txt {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: -0.3px;
    color: #424242;

    &__bold {
      font-style: normal;
      font-weight: 700;
    }

    &__sub {
      color: #424242;
    }
  }

  &__more {
    display: flex;
    justify-content: center;
    align-items: center;

    &__txt {
      margin-left: auto;
      padding-left: 15px;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.5px;
      color: #03c95b;
      white-space: nowrap;

      &::after {
        content: "";
        display: inline-block;
        width: 7px;
        height: 7px;
        margin: 0 2px 1px 2px;
        border: solid #03c95b;
        border-width: 1px 1px 0 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}
