@use "../mixin";

.shoppinglive {
  padding: 0 20px;

  &__title {
    display: flex;

    &__icon {
      position: relative;
      display: block;
      width: auto;
      position: relative;
      padding: 16px 0 14px;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: -0.5px;
      color: #1e1e23;

      &__live {
        width: 29px;
        height: 18px;
        display: inline-block;
        overflow: hidden;
        color: transparent;
        white-space: nowrap;
        vertical-align: -2px;

        @include mixin.spImg(
          "../../img/sp/sp_search.png",
          -201px -322px,
          408px 372px
        );
      }

      &__logo {
        width: 33px;
        height: 22px;
        overflow: hidden;
        display: inline-block;
        color: transparent;
        vertical-align: top;

        @include mixin.spImg(
          "../../img/sp/sp_search.png",
          -349px -204px,
          408px 372px
        );
      }
    }
  }

  &__schedule {
    margin-left: auto;
    padding: 16px 0 14px;
    font-size: 14px;
    line-height: 21px;
    color: #767678;
    font-weight: 400;
    letter-spacing: -0.35px;

    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 1px;
      vertical-align: -2px;

      @include mixin.spImg(
        "../../img/sp/sp_search.png",
        -390px -186px,
        408px 372px
      );
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &__link {
      display: flex;
      flex: 1;
    }

    &__image {
      width: 86px;
      height: 86px;
      border-radius: 5%;
    }
    &__badge {
      position: relative;
      bottom: 80px;
      overflow: hidden;
      margin: 0 4px;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 8px;
      width: 75px;

      &__txt {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 5px 0 3px;
        font-size: 10px;
        line-height: 16px;
        color: #fff;
        font-weight: 400;
        letter-spacing: -0.5px;
      }
    }

    &__info {
      overflow: hidden;
      font-weight: 400;
      margin-left: 15px;
    }
  }
  &__info__title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.4rem;
    line-height: 1.9rem;
    letter-spacing: -0.3px;
  }
  &__info__benefit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-top: 2px;
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #5453e8;
  }
  &__store {
    overflow: hidden;
    margin-top: 6px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    &__profile {
      width: 18px;
      height: 18px;
      overflow: hidden;
      position: relative;
      margin-right: 4px;
      border-radius: 50%;
      flex-shrink: 0;

      &__image {
        width: 18px;
        height: 18px;
      }
    }
    &__name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 13px;
      line-height: 18px;
      color: #424242;
      font-weight: 500;
    }
  }
  &__btn {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid #f4361e;
    border-radius: 50%;
    text-align: center;
    flex-shrink: 0;
    padding-inline: 6px;
    padding-block: 1px;
    display: inline-block;

    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 14px;
      margin-left: 1px;
      vertical-align: -2px;

      @include mixin.spImg(
        "../../img/sp/sp_search.png",
        -390px -269px,
        408px 372px
      );
    }
  }

  &__rolling {
    display: flex;
    height: 44px;
    margin-bottom: 16px;
    padding: 0 15px;
    background-color: #f5f8fb;
    border-radius: 22px;
    align-items: center;
    justify-content: center;

    &__link {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      letter-spacing: -0.44px;
    }

    &__thumb__image {
      width: 26px;
      height: 26px;
      margin-right: 4px;
      border: 2px solid #fff;
      border-radius: 50%;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
    }
  }
}
