@use "../mixin";

.weather {
  display: flex;
  justify-content: space-evenly;

  &__now {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    flex-direction: row;

    &__icon {
      position: relative;
      margin-top: 19px;
      margin-right: 11px;

      &__image {
        display: block;
        width: 48px;
        height: 40px;

        @include mixin.spImg(
          "../../img/sp/sp_weather.png",
          -139px 6px,
          423px 373px
        );
      }
    }

    &__info {
      line-height: 24px;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 22px 0 16px;

      &__bold {
        font-size: 1.5rem;
        letter-spacing: -0.5px;
        font-weight: 1000;
      }

      &__temp {
        vertical-align: top;
        font-style: normal;
        font-weight: bold;
        font-weight: 700;
        font-size: 1.8rem;
        white-space: nowrap;
        line-height: 24px;
        letter-spacing: -0.5px;
      }

      &__sub {
        white-space: nowrap;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 20px;
        letter-spacing: -0.5px;
      }

      &__good {
        color: #00a8ff;
        font-style: normal;
        font-weight: normal;
      }
    }
  }
  &__place {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: -6px;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 22px;
    white-space: nowrap;
    letter-spacing: -0.5px;
    background-color: white;

    &__txt {
      font-size: 1.3rem;
      line-height: 22px;
      letter-spacing: -0.5px;
      justify-content: space-around;
      display: flex;
      font-weight: 400;
      white-space: nowrap;
      color: #767678;

      &::after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 4px 4px;
        vertical-align: top;

        @include mixin.spImg(
          "../../img/sp/sp_search.png",
          20px 26px,
          420px 383px
        );
      }
    }
  }

  &__noti {
    padding-bottom: 15px;

    &__txt {
      color: #767678;
      font-weight: 400;
      font-size: 1.4em;
      line-height: 1.9rem;
      letter-spacing: -0.5px;
      text-align: center;
    }
  }
}
