@use "./mixin";

.footer {
  background-color: #f4f6f8;
  position: relative;
  transform: translateY(15%);
  bottom: 0;

  &__tool {
    padding: 8px 15px;
    border-bottom: 1px solid #e2e6e9;
    overflow: hidden;

    &__wrap {
      position: relative;
      font-size: 0;
      white-space: nowrap;
      line-height: 0;
      float: left;
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid #e2e6e9;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        background-color: #e6e6ea;
      }
    }

    button {
      width: 39px;
      height: 35px;
      color: #767678;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.8px;
      display: inline-block;
      border: 0;
      vertical-align: top;
      background-color: #fbfcfd;
    }

    &__down {
      font-size: 13px;

      &__icon {
        width: 7px;
        height: 1px;
        display: inline-block;
        margin: 8px 0 0 3px;
        background-color: #767678;
        vertical-align: top;
      }
    }

    &__up__icon {
      width: 9px;
      height: 1px;
      position: relative;
      display: inline-block;
      margin: 8px 0 0 3px;
      background-color: #767678;
      vertical-align: top;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -4px;
        left: 4px;
        width: 1px;
        height: 9px;
        background-color: #767678;
      }
    }
  }

  &__top {
    font-size: 0;
    white-space: nowrap;
    line-height: 0;
    float: right;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;

    &__btn {
      margin-left: 4px;
      width: 38px;
      border: 1px solid #e2e6e9;
      border-radius: 5px;

      &::before {
        content: "";
        display: block;
        width: 26px;
        height: 23px;
        margin: auto;

        @include mixin.spImg(
          "../img/sp/sp_main.png",
          254px 220px,
          -84px -140px
        );
      }
    }
  }

  &__info__wrap {
    padding-top: 36px;
    padding-bottom: 79px;
  }

  &__info__container {
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    text-align: center;

    &__link {
      position: relative;
      display: inline-block;
      padding: 3px 9px;
      color: #929294;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: -0.5px;

      &::before:not(:first-of-type) {
        content: "";
        display: block;
        position: absolute;
        top: 7px;
        left: 0;
        width: 1px;
        height: 10px;
        background-color: #d7dfe7;
      }
    }
  }

  &__info__logo {
    width: 79px;
    height: 16px;
    margin: 16px 0 2px;
    display: inline-block;
    color: transparent;
    overflow: hidden;
    vertical-align: top;

    @include mixin.spImg(
      "../img/sp/sp_main.png",
      245px 220px,
      -47px -120px
    );
  }
}
