@use "./mixin";

.header {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 60px;

  &__home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 8px;

    &__menu,
    &__pay,
    &__talk,
    &__alert,
    &__na {
      width: 44px;
      height: 44px;
      display: inline-block;
    }

    &__menu {
      @include mixin.spImg(
        "../img/sp/sp_main_search.png",
        -47px -145px,
        323px 273px
      );
    }

    &__pay {
      @include mixin.spImg(
        "../img/sp/sp_main_search.png",
        -88px -191px,
        323px 273px
      );
    }

    &__talk {
      @include mixin.spImg(
        "../img/sp/sp_main_search.png",
        -135px -192px,
        323px 273px
      );
    }

    &__alert {
      @include mixin.spImg(
        "../img/sp/sp_main_search.png",
        -49px -192px,
        323px 273px
      );
    }

    &__na {
      @include mixin.spImg(
        "../img/sp/sp_main_search.png",
        -261px -76px,
        323px 273px
      );
    }
  }
}
